
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; 
  background: #D9D9D9;
  
  }
.mainDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
  .nav{
    display: flex;
    flex-direction: row;
    font-size: large;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5%;
   
  }
 a{
  text-decoration: none;
 }
 a:hover{
  text-decoration: underline;
  font-weight: bold;
 }
 h2:hover, p:hover{
  color:aquamarine
 }

  .flexItem{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color:#E0BFBF;
  }


  .contactDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  
    
  }

  .conFlex{
    margin-left: 20px;
   
  }

  .allRight{
    margin-top: 50px;
    font-style: oblique;
    color: rgb(116, 91, 59);
  }
  .lineClass{
    border: 3px solid black;
    width: 500px;
  }
  .lineClass:hover{
    border: 3px solid aquamarine;
    
  }

  .fullName{
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: large;
   
  }
.profilePic{
  display: flex;
  height: 250px;
  box-shadow: 5px 1px 5px 5px #f6f6f6;
}


.gitState{
  display: flex;
}

.about{
  padding: 100px;
}
.aboutMePara{
text-align: justify;
font-size: 16px;
}
 
  li{
   list-style: none;
   margin-left: 25px;
  }
 
  .gallery {
    margin-top: 100px;
    background-color:#E0BFBF;
  }
  
  .gallery-cell {
    width: 55%;
    height: 400px;
    margin-right: 10px;
    background-color:#E0BFBF;
    /* counter-increment: gallery-cell; */
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    /* text-align: center;
    content: counter(gallery-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .flexi{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .flexi, .profilePic, .fullName{
    margin-right: 50px;
  }
  
  .flex-box{
      display: flex;
      width: 250px;
      height: 450px;
      flex-direction: column;
      font-style: oblique;
      /* padding: 5px; */
      box-shadow: 3px 3px 3px 3px #888888;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      /* margin: 15px 10px 15px 10px; */
  }
  .settings{
    margin: 5px;
    font-style: oblique;
    color: rgb(33, 20, 5);
  }
  
  label{
    color: rgb(19, 12, 2);
    border: 1px solid #e6e6e6;
    padding: 5px;
    box-shadow: 3px 3px 3px 3px #888888;
    background-color: bisque;
    border-radius: 5px;
    margin: 5px;
  }
  #myInput{
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #888888;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
  }
  .copyBtn, .reset{
    padding: 5px;
    box-shadow: 3px 3px 3px 3px #888888;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 10px;
  }
  .radioIn{
    display: flex;
    float: right;
  }
  
  @media screen and (max-width: 700px) {
    .flexItem{
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      height: 1000px;
      flex-direction: column-reverse;
    }
    .flexi{
      min-height: fit-content;
    }
    .lineClass{
      width: 100px;
    }
    .nav{
      margin-left: auto;
    }

    .fullName{
      display: flex;
      font-size: 16px;
      padding: 10px;
  
    }

    .profilePic{
      margin: 20px;
      width: 100px;
      height: 100px;
    }

    .gallery{
      margin-top: 20px;
    }

    .gallery-cell{
      display: flex;
      margin-top: 100px;
    }
.contactDiv{
  margin-top: 50px;
}
  }